// 颜色定义规范
$text-grey = #787d82
$theme = #f20d0d
$backgroundColor = #fff
// 字体定义规范
$font-size-tip = 12px
$font-size-small-s = 14px
$font-size-small = 16px
$font-size-medium = 20px
$font-size-medium-x = 22px
$font-size-large = 26px
$font-size-large-x = 28px